
/**** revisar ****/
.section-sr-femenino {
  background-image: url("/equipo/img/campeonas_2022.jpg");
}

.section-junior {
  background-image: url("/equipo/img/");
}

.section-cadete {
  background-image: url("/equipo/img/");
}

.section-flag {
  background-image: url("/equipo/img/");
}

.section-inner-alineacion {
  position: relative;
  /* padding-top: 120px; */
}